<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ac.kopo.dao.ProductDAO">

	<select id="sumList" parameterType="HashMap" resultType="HashMap">
		select 
			b.consume_category as category
			, b.consume_code as categoryCode
			, sum(a.consume_amount) as sum
			, DENSE_RANK() OVER(ORDER BY sum(a.consume_amount) desc) as rank
		from 
			consume_list a
			, consume_category b 
		where 1=1
			and a.CONSUME_CODE = b.CONSUME_CODE
			and EXTRACT(month from a.consume_date) = #{month} 
			and EXTRACT(year from a.consume_date) =  #{year}
			and a.id = #{id}
		group by 
			b.consume_category
			, b.consume_code
		order by 
			sum(a.consume_amount) desc
	</select>
	
	<select id="selectSaving" parameterType="HashMap" resultType="HashMap">
	SELECT 
	    saving_code as savingCode
	    , saving_name as savingName
	    , saving_detail as savingDetail
	    , consume_code as consumeCode
	    , min_period as minPeriod 
	    , max_period as maxPeriod
	    , base_rate as baseRate
	FROM SAVING order by saving_code
	</select>
</mapper>