@mixin boxshadow($number) {
    @if $number == 1 {
        //https://getcssscan.com/css-box-shadow-examples #0
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    } @else if $number == 2 {
        //https://getcssscan.com/css-box-shadow-examples #4
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    } @else if $number == 3 {
        //https://getcssscan.com/css-box-shadow-examples #6
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    } @else if $number == 4 {
        //https://getcssscan.com/css-box-shadow-examples #11
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
            rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    } @else if $number == 5 {
        //https://getcssscan.com/css-box-shadow-examples #33
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
}
