//Gray
$gray1: #ffffff;
$gray2: #fafafa;
$gray3: #f5f5f5;
$gray4: #f0f0f0;
$gray5: #d9d9d9;
$gray6: #bfbfbf;
$gray7: #8c8c8c;
$gray8: #595959;
$gray9: #434343;
$gray10: #262626;
$gray11: #1f1f1f;
$gray12: #141414;
$gray13: #000000;

//Dust Red
$red1: #fff1f0;
$red2: #ffccc7;
$red3: #ffa39e;
$red4: #ff7875;
$red5: #ff4d4f;
$red6: #f5222d;
$red7: #cf1322;
$red8: #a8071a;
$red9: #820014;
$red10: #5c0011;

//Sunrise Yellow
$yellow1: #feffe6;
$yellow2: #ffffb8;
$yellow3: #fffb8f;
$yellow4: #fff566;
$yellow5: #ffec3d;
$yellow6: #fadb14;
$yellow7: #d4b106;
$yellow8: #ad8b00;
$yellow9: #876800;
$yellow10: #614700;

//Polar Green
$green1: #f6ffed;
$green2: #d9f7be;
$green3: #b7eb8f;
$green4: #95de64;
$green5: #73d13d;
$green6: #52c41a;
$green7: #389e0d;
$green8: #237804;
$green9: #135200;
$green10: #092b00;

//Golden Purple
$purple1: #f9f0ff;
$purple2: #efdbff;
$purple3: #d3adf7;
$purple4: #b37feb;
$purple5: #9254de;
$purple6: #722ed1;
$purple7: #531dab;
$purple8: #391085;
$purple9: #22075e;
$purple10: #120338;

//Magenta
$magenta1: #fff0f6;
$magenta2: #ffd6e7;
$magenta3: #ffadd2;
$magenta4: #ff85c0;
$magenta5: #f759ab;
$magenta6: #eb2f96;
$magenta7: #c41d7f;
$magenta8: #9e1068;
$magenta9: #780650;
$magenta10: #520339;

//Daybreak Blue
$blue1: #e6f7ff;
$blue2: #bae7ff;
$blue3: #91d5ff;
$blue4: #69c0ff;
$blue5: #40a9ff;
$blue6: #1890ff;
$blue7: #096dd9;
$blue8: #0050b3;
$blue9: #003a8c;
$blue10: #002766;

// akros main color
$main-color: #9254de;
$sub-color: #0000ee;
